<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Get all dogs</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Voice</th>
        </tr>
        <tr th:each="dog : ${allDogs}">
            <td th:text="${dog.id}"></td>
            <td th:text="${dog.name}"></td>
            <td th:text="${dog.voice}"></td>
        </tr>
    </table>

    <h1>Get all cats</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Voice</th>
        </tr>
        <tr th:each="cat : ${allCats}">
            <td th:text="${cat.id}"></td>
            <td th:text="${cat.name}"></td>
            <td th:text="${cat.voice}"></td>
        </tr>
    </table>

</body>
</html>