<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/style.css" th:href='@{"../static/css/style.css"}'/>
    <title>oAuth2</title>
</head>
<body>
    Hi all
    <td class="button">
        <a class="link" href="user" target="_blank">
            Click
        </a>
    </td>
</body>
</html>