<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
</head>
<body>
    I'm user
  <span th:text="${principal}"></span>
  <span th:text="${auth}"></span>
</body>
</html>